<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13A603</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ZTEUSBCDC_10.10</string>
	<key>CFBundleGetInfoString</key>
	<string>4.2.1b2, USB CDC driver</string>
	<key>CFBundleIdentifier</key>
	<string>com.zg.driver.OverrideAppleUSBCDC</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>USB CDC driver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>4.2.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>4.2.1b2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A2053</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13A595</string>
	<key>DTSDKName</key>
	<string>macosx10.9</string>
	<key>DTXcode</key>
	<string>0501</string>
	<key>DTXcodeBuild</key>
	<string>5A2053</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>OverrideAppleUSBCDC_0349</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zg.driver.OverrideAppleUSBCDC</string>
			<key>IOClass</key>
			<string>OverrideAppleUSBCDC</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>2</integer>
			</dict>
			<key>idProduct</key>
			<integer>841</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
		<key>OverrideAppleUSBCDC_1024</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zg.driver.OverrideAppleUSBCDC</string>
			<key>IOClass</key>
			<string>OverrideAppleUSBCDC</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>2</integer>
			</dict>
			<key>idProduct</key>
			<integer>4132</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
		<key>OverrideAppleUSBCDC_1028</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zg.driver.OverrideAppleUSBCDC</string>
			<key>IOClass</key>
			<string>OverrideAppleUSBCDC</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>2</integer>
			</dict>
			<key>idProduct</key>
			<integer>4136</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
		<key>OverrideAppleUSBCDC_1032</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zg.driver.OverrideAppleUSBCDC</string>
			<key>IOClass</key>
			<string>OverrideAppleUSBCDC</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>2</integer>
			</dict>
			<key>idProduct</key>
			<integer>4146</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
		<key>OverrideAppleUSBCDC_1036</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zg.driver.OverrideAppleUSBCDC</string>
			<key>IOClass</key>
			<string>OverrideAppleUSBCDC</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>2</integer>
			</dict>
			<key>idProduct</key>
			<integer>4150</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
		<key>OverrideAppleUSBCDC_1040</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zg.driver.OverrideAppleUSBCDC</string>
			<key>IOClass</key>
			<string>OverrideAppleUSBCDC</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>2</integer>
			</dict>
			<key>idProduct</key>
			<integer>4160</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
		<key>OverrideAppleUSBCDC_1044</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zg.driver.OverrideAppleUSBCDC</string>
			<key>IOClass</key>
			<string>OverrideAppleUSBCDC</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>2</integer>
			</dict>
			<key>idProduct</key>
			<integer>4164</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
		<key>OverrideAppleUSBCDC_1048</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zg.driver.OverrideAppleUSBCDC</string>
			<key>IOClass</key>
			<string>OverrideAppleUSBCDC</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>2</integer>
			</dict>
			<key>idProduct</key>
			<integer>4168</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
		<key>OverrideAppleUSBCDC_1052</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zg.driver.OverrideAppleUSBCDC</string>
			<key>IOClass</key>
			<string>OverrideAppleUSBCDC</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>2</integer>
			</dict>
			<key>idProduct</key>
			<integer>4178</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
		<key>OverrideAppleUSBCDC_1056</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zg.driver.OverrideAppleUSBCDC</string>
			<key>IOClass</key>
			<string>OverrideAppleUSBCDC</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>2</integer>
			</dict>
			<key>idProduct</key>
			<integer>4182</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
		<key>OverrideAppleUSBCDC_1061</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zg.driver.OverrideAppleUSBCDC</string>
			<key>IOClass</key>
			<string>OverrideAppleUSBCDC</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>2</integer>
			</dict>
			<key>idProduct</key>
			<integer>4193</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
		<key>OverrideAppleUSBCDC_1065</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zg.driver.OverrideAppleUSBCDC</string>
			<key>IOClass</key>
			<string>OverrideAppleUSBCDC</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>2</integer>
			</dict>
			<key>idProduct</key>
			<integer>4197</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
		<key>OverrideAppleUSBCDC_1069</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zg.driver.OverrideAppleUSBCDC</string>
			<key>IOClass</key>
			<string>OverrideAppleUSBCDC</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>2</integer>
			</dict>
			<key>idProduct</key>
			<integer>4201</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
		<key>OverrideAppleUSBCDC_1073</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zg.driver.OverrideAppleUSBCDC</string>
			<key>IOClass</key>
			<string>OverrideAppleUSBCDC</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>2</integer>
			</dict>
			<key>idProduct</key>
			<integer>4211</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
		<key>OverrideAppleUSBCDC_1077</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zg.driver.OverrideAppleUSBCDC</string>
			<key>IOClass</key>
			<string>OverrideAppleUSBCDC</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>2</integer>
			</dict>
			<key>idProduct</key>
			<integer>4215</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
		<key>OverrideAppleUSBCDC_1081</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zg.driver.OverrideAppleUSBCDC</string>
			<key>IOClass</key>
			<string>OverrideAppleUSBCDC</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>2</integer>
			</dict>
			<key>idProduct</key>
			<integer>4225</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
		<key>OverrideAppleUSBCDC_1185</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zg.driver.OverrideAppleUSBCDC</string>
			<key>IOClass</key>
			<string>OverrideAppleUSBCDC</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>2</integer>
			</dict>
			<key>idProduct</key>
			<integer>4485</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
		<key>OverrideAppleUSBCDC_1281</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zg.driver.OverrideAppleUSBCDC</string>
			<key>IOClass</key>
			<string>OverrideAppleUSBCDC</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>2</integer>
			</dict>
			<key>idProduct</key>
			<integer>4737</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
		<key>OverrideAppleUSBCDC_1405</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zg.driver.OverrideAppleUSBCDC</string>
			<key>IOClass</key>
			<string>OverrideAppleUSBCDC</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>2</integer>
			</dict>
			<key>idProduct</key>
			<integer>5125</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
		<key>OverrideAppleUSBCDC_1408</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zg.driver.OverrideAppleUSBCDC</string>
			<key>IOClass</key>
			<string>OverrideAppleUSBCDC</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>2</integer>
			</dict>
			<key>idProduct</key>
			<integer>5128</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
		<key>OverrideAppleUSBCDC_1533</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zg.driver.OverrideAppleUSBCDC</string>
			<key>IOClass</key>
			<string>OverrideAppleUSBCDC</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>2</integer>
			</dict>
			<key>idProduct</key>
			<integer>5427</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
		<key>OverrideAppleUSBCDC_1534</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zg.driver.OverrideAppleUSBCDC</string>
			<key>IOClass</key>
			<string>OverrideAppleUSBCDC</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>2</integer>
			</dict>
			<key>idProduct</key>
			<integer>5428</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
		<key>OverrideAppleUSBCDC_1535</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zg.driver.OverrideAppleUSBCDC</string>
			<key>IOClass</key>
			<string>OverrideAppleUSBCDC</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>2</integer>
			</dict>
			<key>idProduct</key>
			<integer>5429</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
		<key>OverrideAppleUSBCDC_1545</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zg.driver.OverrideAppleUSBCDC</string>
			<key>IOClass</key>
			<string>OverrideAppleUSBCDC</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>2</integer>
			</dict>
			<key>idProduct</key>
			<integer>5445</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
		<key>OverrideAppleUSBCDC_1563</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zg.driver.OverrideAppleUSBCDC</string>
			<key>IOClass</key>
			<string>OverrideAppleUSBCDC</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>2</integer>
			</dict>
			<key>idProduct</key>
			<integer>5475</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
		<key>OverrideAppleUSBCDC_1589</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zg.driver.OverrideAppleUSBCDC</string>
			<key>IOClass</key>
			<string>OverrideAppleUSBCDC</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>2</integer>
			</dict>
			<key>idProduct</key>
			<integer>5513</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
		<key>OverrideAppleUSBCDC_1592</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zg.driver.OverrideAppleUSBCDC</string>
			<key>IOClass</key>
			<string>OverrideAppleUSBCDC</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>2</integer>
			</dict>
			<key>idProduct</key>
			<integer>5522</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
		<key>OverrideAppleUSBCDC_1594</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zg.driver.OverrideAppleUSBCDC</string>
			<key>IOClass</key>
			<string>OverrideAppleUSBCDC</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Preferred Configuration</key>
				<integer>2</integer>
			</dict>
			<key>idProduct</key>
			<integer>5524</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>3.5.0b1</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0d1</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0d1</string>
	</dict>
</dict>
</plist>
