<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>ZTEDriver_MacV1.4.1, ZTE USB Datacard Driver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>ZTEDriver_MacV1.4.1</string>
	<key>CFBundleSignature</key>
	<string>ZTE</string>
	<key>CFBundleVersion</key>
	<string>1.4.1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ZTEUSBDIAGPort_0016</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>22</integer>
		</dict>
		<key>ZTEUSBDIAGPort_0017</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>23</integer>
		</dict>
		<key>ZTEUSBDIAGPort_0021</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>33</integer>
		</dict>
		<key>ZTEUSBDIAGPort_0031</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>49</integer>
		</dict>
		<key>ZTEUSBDIAGPort_0033</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>51</integer>
		</dict>
		<key>ZTEUSBDIAGPort_0039</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>57</integer>
		</dict>
		<key>ZTEUSBDIAGPort_0042</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>66</integer>
		</dict>
		<key>ZTEUSBDIAGPort_0063</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>99</integer>
		</dict>
		<key>ZTEUSBDIAGPort_0076</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>118</integer>
		</dict>
		<key>ZTEUSBDIAGPort_0086</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>134</integer>
		</dict>
		<key>ZTEUSBDIAGPort_0104</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>260</integer>
		</dict>
		<key>ZTEUSBDIAGPort_0113</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>275</integer>
		</dict>
		<key>ZTEUSBDIAGPort_0117</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>279</integer>
		</dict>
		<key>ZTEUSBDIAGPort_0121</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>289</integer>
		</dict>
		<key>ZTEUSBDIAGPort_0123</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>291</integer>
		</dict>
		<key>ZTEUSBDIAGPort_0124</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>292</integer>
		</dict>
		<key>ZTEUSBDIAGPort_0126</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>294</integer>
		</dict>
		<key>ZTEUSBDIAGPort_0128</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>296</integer>
		</dict>
		<key>ZTEUSBDIAGPort_0141</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>321</integer>
		</dict>
		<key>ZTEUSBDIAGPort_0144</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>324</integer>
		</dict>
		<key>ZTEUSBDIAGPort_0145</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>325</integer>
		</dict>
		<key>ZTEUSBDIAGPort_0147</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>327</integer>
		</dict>
		<key>ZTEUSBDIAGPort_0153</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>339</integer>
		</dict>
		<key>ZTEUSBDIAGPort_0156</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>342</integer>
		</dict>
		<key>ZTEUSBDIAGPort_0157</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>343</integer>
		</dict>
		<key>ZTEUSBDIAGPort_0158</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>344</integer>
		</dict>
		<key>ZTEUSBDIAGPort_0326</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>806</integer>
		</dict>
		<key>ZTEUSBDIAGPort_0448</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>1096</integer>
		</dict>
		<key>ZTEUSBDIAGPort_1008</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4104</integer>
		</dict>
		<key>ZTEUSBDIAGPort_1010</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4112</integer>
		</dict>
		<key>ZTEUSBDIAGPort_1018</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4120</integer>
		</dict>
		<key>ZTEUSBDIAGPort_1021</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4129</integer>
		</dict>
		<key>ZTEUSBDIAGPort_1083</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4227</integer>
		</dict>
		<key>ZTEUSBDIAGPort_1245</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4677</integer>
		</dict>
		<key>ZTEUSBDIAGPort_1247</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4679</integer>
		</dict>
		<key>ZTEUSBDIAGPort_1251</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4689</integer>
		</dict>
		<key>ZTEUSBDIAGPort_1252</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4690</integer>
		</dict>
		<key>ZTEUSBDIAGPort_1254</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4692</integer>
		</dict>
		<key>ZTEUSBDIAGPort_1255</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4693</integer>
		</dict>
		<key>ZTEUSBDIAGPort_1256</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4694</integer>
		</dict>
		<key>ZTEUSBDIAGPort_1259</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4697</integer>
		</dict>
		<key>ZTEUSBDIAGPort_1260</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4704</integer>
		</dict>
		<key>ZTEUSBDIAGPort_1266</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4710</integer>
		</dict>
		<key>ZTEUSBDIAGPort_1268</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4712</integer>
		</dict>
		<key>ZTEUSBDIAGPort_1269</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4713</integer>
		</dict>
		<key>ZTEUSBDIAGPort_1270</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4720</integer>
		</dict>
		<key>ZTEUSBDIAGPort_1273</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4723</integer>
		</dict>
		<key>ZTEUSBDIAGPort_1274</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4724</integer>
		</dict>
		<key>ZTEUSBDIAGPort_1401</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>5121</integer>
		</dict>
		<key>ZTEUSBDIAGPort_1402</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>5122</integer>
		</dict>
		<key>ZTEUSBDIAGPort_1424</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>5156</integer>
		</dict>
		<key>ZTEUSBDIAGPort_1425</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>5157</integer>
		</dict>
		<key>ZTEUSBDIAGPort_2002</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>8194</integer>
		</dict>
		<key>ZTEUSBDIAGPort_2003</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>8195</integer>
		</dict>
		<key>ZTEUSBDIAGPort_9002</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>36866</integer>
		</dict>
		<key>ZTEUSBDIAGPort_FFEC</key>
		<dict>
			<key>IOProviderMergeProperties</key>
			<dict/>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>65516</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOSerialFamily</key>
		<string>1.0.4</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.9</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
	</dict>
</dict>
</plist>
