<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>MBBEthernetData</string>
	<key>CFBundleGetInfoString</key>
	<string>MBBEthernetData 5.01.01.00</string>
	<key>CFBundleIdentifier</key>
	<string>com.MBB.driver.MBBEthernetData</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MBBEthernetData</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>5.01.01.00</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>5.01.01</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Hw_NDIS_General_3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bInterfaceProtocol</key>
			<integer>7</integer>
			<key>bInterfaceSubClass</key>
			<integer>3</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_NDIS_NCM_0d_3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bInterfaceProtocol</key>
			<integer>13</integer>
			<key>bInterfaceSubClass</key>
			<integer>3</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
			<key>nInterfaceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_NDIS_NCM_General_3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bInterfaceProtocol</key>
			<integer>22</integer>
			<key>bInterfaceSubClass</key>
			<integer>3</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
			<key>nInterfaceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_NDIS_NCM_VDF_3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bInterfaceProtocol</key>
			<integer>70</integer>
			<key>bInterfaceSubClass</key>
			<integer>3</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
			<key>nInterfaceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_NDIS_NCM_without_Huawei_3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bInterfaceProtocol</key>
			<integer>118</integer>
			<key>bInterfaceSubClass</key>
			<integer>3</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
			<key>nInterfaceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_NDIS_VDF_3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bInterfaceProtocol</key>
			<integer>55</integer>
			<key>bInterfaceSubClass</key>
			<integer>3</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_NDIS_without_Huawei_3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bInterfaceProtocol</key>
			<integer>103</integer>
			<key>bInterfaceSubClass</key>
			<integer>3</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.1</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.9</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
